# https://www.python.org/ftp/python/3.9.13/python-3.9.13-amd64.exe
# ejecutar:
# python --version
# pip uninstall -y numpy opencv-python tensorflow deepface
# pip install -r requirements.txt

opencv-python==4.8.1.78
deepface==0.0.79
numpy==1.24.4
tensorflow==2.10.1 # O tensorflow-cpu si no tienes GPU